In [2]:
import pandas as pd
import numpy as np
#from sklearn import preprocessing
from sklearn.preprocessing import scale , normalize , minmax_scale

In [32]:
data = pd.read_csv(r'heart-statlog.csv', encoding=('ansi'))

In [33]:
data

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal,class
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,present
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,absent
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,present
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,absent
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,absent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,absent
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,absent
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,absent
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,absent
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,present

In [34]:
data.shape

(270, 14)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   age                                   270 non-null    int64
 1   sex                                   270 non-null    int64
 2   chest                                 270 non-null    int64
 3   resting_blood_pressure                270 non-null    int64
 4   serum_cholestoral                     270 non-null    int64
 5   fasting_blood_sugar                   270 non-null    int64
 6   resting_electrocardiographic_results  270 non-null    int64
 7   maximum_heart_rate_achieved           270 non-null    int64
 8   exercise_induced_angina               270 non-null    int64
 9   oldpeak                               270 non-null    float64
 10  slope                                 270 non-null    int64
 11  number_of_major_vessels               270 non-null    int64
 12  thal                                  270 non-null    int64
 13  class                                 270 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 29.7+ KB

In [36]:
data.describe()

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000
mean,54.433333,0.677778,3.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,1.585185,0.670370,4.696296
std,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,1.940659
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,1.000000,0.000000,3.000000
25%,48.000000,0.000000,3.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,3.000000
50%,55.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,2.000000,0.000000,3.000000
75%,61.000000,1.000000,4.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,2.000000,1.000000,7.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,3.000000,3.000000,7.000000

In [37]:
data.isnull().sum()

age                                     0
sex                                     0
chest                                   0
resting_blood_pressure                  0
serum_cholestoral                       0
fasting_blood_sugar                     0
resting_electrocardiographic_results    0
maximum_heart_rate_achieved             0
exercise_induced_angina                 0
oldpeak                                 0
slope                                   0
number_of_major_vessels                 0
thal                                    0
class                                   0
dtype: int64

In [38]:
data.dropna(axis=0)

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal,class
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,present
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,absent
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,present
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,absent
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,absent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,absent
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,absent
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,absent
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,absent
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,present

In [56]:
data_max = data["serum_cholestoral"].max()

In [57]:
data["serum_cholestoral"][data["serum_cholestoral"]==data_max]

1    564
Name: serum_cholestoral, dtype: int64

In [39]:
data.drop_duplicates()

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal,class
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,present
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,absent
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,present
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,absent
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,absent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,absent
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,absent
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,absent
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,absent
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,present

In [68]:
data12 = data.drop('serum_cholestoral' , axis=1 )

In [40]:
cat = data.groupby(data['class'])

In [61]:
cat.min)

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
class,,,,,,,,,,,,,
absent,52.706667,0.553333,2.820000,128.866667,244.213333,0.153333,0.860,158.333333,0.153333,0.622667,1.400000,0.286667,3.786667
present,56.591667,0.833333,3.616667,134.441667,256.466667,0.141667,1.225,138.858333,0.550000,1.584167,1.816667,1.150000,5.833333

In [42]:
data.drop('class' , axis=1 )

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3

In [43]:
data1 = data.drop('class' , axis=1 )
scale_data = scale(data1)
df_data = pd.DataFrame(scale_data,index=data1.index,columns=data1.columns)

In [44]:
df_data

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
0,1.712094,0.689500,0.870928,-0.075410,1.402212,-0.417029,0.981664,-1.759208,-0.701222,1.181012,0.676419,2.472682,-0.875706
1,1.382140,-1.450327,-0.183559,-0.916759,6.093004,-0.417029,0.981664,0.446409,-0.701222,0.481153,0.676419,-0.711535,1.189277
2,0.282294,0.689500,-1.238045,-0.411950,0.219823,-0.417029,-1.026285,-0.375291,-0.701222,-0.656118,-0.954234,-0.711535,1.189277
3,1.052186,0.689500,0.870928,-0.187590,0.258589,-0.417029,-1.026285,-1.932198,1.426081,-0.743600,0.676419,0.349871,1.189277
4,2.152032,-1.450327,-1.238045,-0.636310,0.374890,-0.417029,0.981664,-1.240239,1.426081,-0.743600,-0.954234,0.349871,-0.875706
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,-0.267629,0.689500,-0.183559,2.280369,-0.981951,2.397916,-1.026285,0.532904,-0.701222,-0.481153,-0.954234,-0.711535,1.189277
266,-1.147506,0.689500,-1.238045,-0.636310,0.258589,-0.417029,-1.026285,1.008625,-0.701222,-0.918565,-0.954234,-0.711535,1.189277
267,0.172309,-1.450327,-1.238045,0.485490,0.859476,-0.417029,0.981664,0.143677,-0.701222,0.218706,0.676419,-0.711535,-0.875706
268,0.282294,0.689500,0.870928,0.485490,-1.117635,-0.417029,-1.026285,-0.072560,-0.701222,-0.568636,0.676419,-0.711535,0.673032
269,1.382140,0.689500,0.870928,1.607289,0.704409,-0.417029,0.981664,-1.802456,1.426081,0.393671,0.676419,2.472682,-0.875706

In [45]:
normalize_data = normalize(data1, norm='l2' , axis=0) 
df_data = pd.DataFrame(normalize_data,
                       index=data1.index,
                       columns=data1.columns
                       )

In [46]:
df_data

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
0,0.077193,0.073922,0.073484,0.059688,0.076868,0.000000,0.08528,0.043799,0.000,0.094102,0.071611,0.157895,0.035939
1,0.073884,0.000000,0.055113,0.052801,0.134639,0.000000,0.08528,0.064292,0.000,0.062734,0.071611,0.000000,0.083858
2,0.062857,0.073922,0.036742,0.056933,0.062306,0.000000,0.00000,0.056658,0.000,0.011763,0.035806,0.000000,0.083858
3,0.070576,0.073922,0.073484,0.058769,0.062784,0.000000,0.00000,0.042192,0.106,0.007842,0.071611,0.052632,0.083858
4,0.081604,0.000000,0.036742,0.055096,0.064216,0.000000,0.08528,0.048621,0.106,0.007842,0.035806,0.052632,0.035939
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,0.057343,0.073922,0.055113,0.078971,0.047505,0.158114,0.00000,0.065096,0.000,0.019605,0.035806,0.000000,0.083858
266,0.048521,0.073922,0.036742,0.055096,0.062784,0.000000,0.00000,0.069516,0.000,0.000000,0.035806,0.000000,0.083858
267,0.061754,0.000000,0.036742,0.064279,0.070184,0.000000,0.08528,0.061480,0.000,0.050972,0.071611,0.000000,0.035939
268,0.062857,0.073922,0.073484,0.064279,0.045834,0.000000,0.00000,0.059470,0.000,0.015684,0.071611,0.000000,0.071878
269,0.073884,0.073922,0.073484,0.073462,0.068274,0.000000,0.08528,0.043397,0.106,0.058814,0.071611,0.157895,0.035939

In [47]:
normalize_data = normalize(data1, norm='l1' , axis=0) 
df_data = pd.DataFrame(normalize_data,
                       index=data1.index,
                       columns=data1.columns
                       )

In [48]:
df_data

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
0,0.004763,0.005464,0.004667,0.003666,0.004777,0.000,0.007246,0.002697,0.000000,0.008466,0.004673,0.016575,0.002366
1,0.004559,0.000000,0.003501,0.003243,0.008367,0.000,0.007246,0.003959,0.000000,0.005644,0.004673,0.000000,0.005521
2,0.003878,0.005464,0.002334,0.003497,0.003872,0.000,0.000000,0.003489,0.000000,0.001058,0.002336,0.000000,0.005521
3,0.004355,0.005464,0.004667,0.003609,0.003902,0.000,0.000000,0.002598,0.011236,0.000705,0.004673,0.005525,0.005521
4,0.005035,0.000000,0.002334,0.003384,0.003991,0.000,0.007246,0.002994,0.011236,0.000705,0.002336,0.005525,0.002366
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,0.003538,0.005464,0.003501,0.004850,0.002952,0.025,0.000000,0.004009,0.000000,0.001764,0.002336,0.000000,0.005521
266,0.002994,0.005464,0.002334,0.003384,0.003902,0.000,0.000000,0.004281,0.000000,0.000000,0.002336,0.000000,0.005521
267,0.003810,0.000000,0.002334,0.003948,0.004362,0.000,0.007246,0.003786,0.000000,0.004586,0.004673,0.000000,0.002366
268,0.003878,0.005464,0.004667,0.003948,0.002848,0.000,0.000000,0.003662,0.000000,0.001411,0.004673,0.000000,0.004732
269,0.004559,0.005464,0.004667,0.004512,0.004243,0.000,0.007246,0.002672,0.011236,0.005291,0.004673,0.016575,0.002366

In [66]:
minmax_data = minmax_scale(data1, feature_range=(0,1) ) #euclidean norm
df_data = pd.DataFrame(minmax_data,
                       index=data1.index,
                       columns=data1.columns
                       )

In [67]:
df_data

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
0,0.854167,1.0,1.000000,0.339623,0.447489,0.0,1.0,0.290076,0.0,0.387097,0.5,1.000000,0.00
1,0.791667,0.0,0.666667,0.198113,1.000000,0.0,1.0,0.679389,0.0,0.258065,0.5,0.000000,1.00
2,0.583333,1.0,0.333333,0.283019,0.308219,0.0,0.0,0.534351,0.0,0.048387,0.0,0.000000,1.00
3,0.729167,1.0,1.000000,0.320755,0.312785,0.0,0.0,0.259542,1.0,0.032258,0.5,0.333333,1.00
4,0.937500,0.0,0.333333,0.245283,0.326484,0.0,1.0,0.381679,1.0,0.032258,0.0,0.333333,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,0.479167,1.0,0.666667,0.735849,0.166667,1.0,0.0,0.694656,0.0,0.080645,0.0,0.000000,1.00
266,0.312500,1.0,0.333333,0.245283,0.312785,0.0,0.0,0.778626,0.0,0.000000,0.0,0.000000,1.00
267,0.562500,0.0,0.333333,0.433962,0.383562,0.0,1.0,0.625954,0.0,0.209677,0.5,0.000000,0.00
268,0.583333,1.0,1.000000,0.433962,0.150685,0.0,0.0,0.587786,0.0,0.064516,0.5,0.000000,0.75
269,0.791667,1.0,1.000000,0.622642,0.365297,0.0,1.0,0.282443,1.0,0.241935,0.5,1.000000,0.00